#LIloginContainer {
    height: 500px;
    width: 300px;
    background-color: #0C393C;
    border-radius: 15px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

    /* 
    Dito ko nilagay font color
    para lahat ng text sa loob
    iisa na ng color
     */
    color: #ecf1f0;
}

#LIsvgContainer {
    padding: 20px;
}

#LIsmileAdminTXT {
    font-size: 20px;
    font-weight: bold;
}

#LIlogInTXTCont {
    padding-top: 40px;
    padding-bottom: 30px;
}

#LIlogInTXT {
    font-size: 18px;
    font-weight: bold;
}

#LIloginFORM {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#LIusernameINPUT, #LIpasswordINPUT {
    height: 35px;
    width: 200px;
    background-color: transparent;
    
    border: 2px solid #ecf1f0;
    padding-left: 10px;
    border-radius: 5px;

    margin: 10px;
}

#LIloginBUTTON {
    background-color: #ecf1f0;
    border: none;

    font-weight: bold;
    color: #0C393C;

    width: 180px;
    height: 30px;

    border-radius: 25vb;

    margin-top: 30px;
}
