#ADbg {
    min-height: 120vh;
    width: 100vw;

    background-color: #0C393C;

    position: absolute;
    top: 0;
    left: 0;
}

#ADmainCont {
    display: flex;
    align-items: center;
    flex-direction: column;

    /* margin-top: 50px; */

    height: 100vh;
    width: 100vw;
    max-width: 320px;

    /* background-color: pink; */

    position: relative;
}

#ADlogoCont {
    display: flex;
    align-items: center;
    width: 100%;
    /* justify-content: flex-start; */

    margin: 10px;
}

#ADlogoSVG {
    height: 50px;
    width: 50px;
    /* display: none; */
}

#ADsmileTXT {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    
    margin-left: 10px;
    /* display: none; */
}

#ADnavCont {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* display: none; */
}

#ADnavIconHome, #ADnavIconAnalytics,
#ADnavIconSettings, #ADnavIconLogout {
    height: 40px;
    /* display: none; */
}

#ADdashboardCont {
    /* width: 100vw; */
    width: 320px;
    min-height: 100vh;
    margin-top: 20px;

    background-color: #ECF1F0;
    border-radius: 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}

#AddashboardTXT {
    color: #0C393C;
    font-size: 18px;
    font-weight: bolder;

    margin-top: 20px;
    /* display: none; */
    
}

#ADtotalUsersCont {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* align-items: center; */
}

#ADtotalUsersNumTXT, #ADpastUsersNumTXT,
#ADpresentUsersNumTXT, #ADcurrentUsersNumTXT,
#ADfullBinNumTXT, #ADfrequentUsersNumTXT {
    font-size: 40px;
    font-weight: bold;
    color: #0C393C;
}
#ADtotalUsersTXT, #ADcurrentUsersTXT,
#ADfullBinTXT, #ADfrequentUsersTXT {
    font-size: 16px;
    font-weight: bold;
    color: #0C393C;
}

#ADcont1Cont, #ADcont2Cont,
#ADcont3Cont, #ADcont4Cont {
    background-color: #FFFFFF;
    border-radius: 20px;

    margin-top: 20px;

    width: 260px;
    min-height: 120px;

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-around; */
}

#ADcont1Cont {
    min-height: 240px;
}

#ADcon1CircleCont, #ADcon2CircleCont,
#ADcon3CircleCont, #ADcon4CircleCont {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
}


#ADcircle1, #ADcircle2,
#ADcircle3, #ADcircle4 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

#ADpastUsersCont, #ADcurrentUsersCont,
#ADfullBinCont, #ADfrequentUsersCont {
    margin: auto;
}

#ADpresentUsersCont {
    margin: auto;
}